<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Project Page
    </title>
</head>
<body>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/project">About</a></p>
    <h1>{{Capitalize Title}}</h1>
    <p>This is Project page</p>
    {{> footer}}
</body>
</html>